<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
</head>

<body>
    <h1>
        <%=title %>
    </h1>
   
            <ul>


                <% if (locals.user){ %>
                    <li>
                        <a href="/users/profile">
                            <%= user.name %>
                        </a>
                    </li>
                    <li>
                        <a href="/users/sign-out">Sign Out</a>
                    </li>
                    <% }else{ %>

                        <li>
                            <a href="/users/sign-in">Sign In</a>
                        </li>

                        <li>
                            <a href="/users/sign-up">Sign Up</a>
                        </li>


                        <% } %>
            </ul>

            <script>
                <% if (flash.success && flash.success.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: "<%= flash.success %>",
                        type: 'success',
                        layout: 'topRight',
                        timeout: 1500
                        
                    }).show();    
                <%} %>
    
                <% if (flash.error && flash.error.length > 0) {%>
                    new Noty({
                        theme: 'relax',
                        text: "<%= flash.error %>",
                        type: 'error',
                        layout: 'topRight',
                        timeout: 1500
                        
                    }).show();    
                <%} %>
            </script>





</body>

</html>